/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #d9b9d3;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

input {
    padding: 8px;
    margin: 10px 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #dc43bb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#query-result {
    margin-top: 20px;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
